obj/
bin/
packages/compiler/tests/tmp/
packages/compiler/runtime/.obj/
*.o
*.dSYM/
.DS_Store
packages/tree-sitter-yuga/node_modules/
packages/tree-sitter-yuga/bindings/
packages/tree-sitter-yuga/build/
packages/tree-sitter-yuga/target/
packages/editors/zed/target/
packages/editors/zed/grammars/
packages/editors/zed/extension.wasm
examples/language/build/
examples/zeus/*/build/
examples/zeus/repl/tmp/
examples/zeus/repl/backend/tmp/
examples/zeus/repl/frontend/node_modules/
examples/zeus/repl/frontend/build/
examples/zeus/repl/backend/build/
examples/zeus/repl/macos/build/
examples/zeus/counter/macos/build/
examples/zeus/counter/ios/build/
examples/zeus/counter/android/build/
examples/zeus/counter/android/.sdk-env
examples/zeus/counter/frontend/build/
examples/zeus/counter/frontend/node_modules/
www/frontend/node_modules/
www/frontend/build/
www/backend/build/
www/macos/build/
examples/zeus/counter/backend/build/
bezel/
